@import url('http://fonts.googleapis.com/icon?family=Material+Icons');

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main{
  padding-left: 300px;
  width: 100%;
  flex: 1 0 auto;
}

main > .container{
  width: 100%;
}


footer {
  padding-left: 300px;
  box-sizing: border-box;
}

@media only screen and (max-width: 992px) {
  main{
    padding-left: 0px;
  }
  footer {
    padding-left: 0px;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

footer > .container{
  width: 100%;
}

.message-footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #fafafa ;
}

footer > .container > .row{
  margin-bottom: 0;
}